 

a:link {
	  color: Green;
	  text-decoration: none;
	}

	a:visited {
		color: Red;
		text-decoration: none;
	}

	a:hover {
	 
	 color: #00c; 
	 text-decoration: underline;
	background-color: #ccffff;
	}

	a:active {
		font-weight:bold;
	}
	tbody{
		font-style: italic;
		background-color: #ccffff;
	}