
a:link {
	 
	}

	a:visited {
		color: #996600;
	}

	a:hover {
	font-weight:bold;

	 
	 color: #00c; 
	 
	}

	a:active {
		 text-decoration: none;
	}
/*
.header {
font-weight: bold;
}
*/

.footer{
	font-style: italic;
}

.yellback {
		background-color: rgb(255,255,102);
	}